@import "_variables";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  overflow-x: hidden;
}

// Fonts
h1, h2, h3, h4, h5, h6, p, li, ul, span { margin: 0; padding: 0;}
html { font-size: 1vw; }

h1 {
  font-size: 5rem;
  letter-spacing: .5rem;
}

h3 {
  font-size: 6rem;
  margin-bottom: 2rem;
  color: #333;
}

p {
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: .1rem;
}

a,
i,
li {
  transition: $ease;
}

span {
  font-family: 'Play', sans-serif;
}

span,
h4 {
  display: inline-block;
}

h1,
h2,
a {
  color : $white;
  text-decoration: none;
}

h2,
a {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: .5rem;
}

// Styles
.clear {
  clear: both;
}

.halfer {
  width: 50%;
  float: left;
}

.center {
  width: 75%;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.center-padding {
  padding: 5rem 0;
  width: 75%;
  margin: 0 auto;
}

.small-margin {
  margin-top: 2rem;
}

.padding-top {
  padding-top: 5rem;
}

.large-padding {
  padding: 12rem 0;
}

.btn {
  border: none;
  background: #575872;
  display: inline-block;
  vertical-align: bottom;
  padding: 1rem;
  color: #fff;
  font-family: 'Play', sans-serif;
  transition: $ease;

  &:hover {
    cursor: pointer;
    background: rgba(87,88,114, .75);
  }
}

.col-2 {
  flex: 1;
  padding: 2rem;
}

.col-3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  padding: 0 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-right {
  text-align: right;
}

@media (max-width: 1000px) {
  .break-10 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .break-8 {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .break-6 {
    width: 100%;
  }
}
