$blue: rgb(15,149,194);
$pink: rgb(253,134,151);
$gray: rgb(216,216,216);
$cyan: rgb(102,125,196);
$yellow: rgb(198,217,71);
$teal: rgb(76,119,137);
//$bg: linear-gradient(to right, #576572, #677480);
$bg: rgb(87,101,114);
$white: rgba(255,255,255,.75);
$ease: .3s ease-in-out;
