html, body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0 }
html { font-size: 1vw; }

h1,
h2,
a {
  color : #fff;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2,
a {
  font-size: 1.25rem;
  letter-spacing: .25rem;
  opacity: .9;
}

$blue: rgb(15,149,194);
$pink: rgb(253,134,151);
$gray: rgb(216,216,216);
$cyan: rgb(102,125,196);
$yellow: rgb(198,217,71);
$teal: rgb(76,119,137);
$bg: rgb(59,29,46);
$ease: .3s ease-in-out;

.blue-star {
  height: .8rem;
  width: .8rem;
  background: $blue;
  border-radius: 50%;
  filter: blur(3px);
}

.pink-star {
  height: .5rem;
  width: .5rem;
  background: $pink;
  border-radius: 50%;
}

.gray-star {
  height: 1rem;
  width: 1rem;
  background: $gray;
  border-radius: 50%;
  filter: blur(2px);
}

.cyan-star {
  height: .6rem;
  width: .6rem;
  background: $cyan;
  border-radius: 50%;
  filter: blur(2px);
}

.yellow-star {
  height: .5rem;
  width: .5rem;
  background: $yellow;
  border-radius: 50%;
  filter: blur(.75px);
}

.teal-star {
  height: 1rem;
  width: 1rem;
  background: $teal;
  border-radius: 50%;
  filter: blur(1px);
}

@keyframes flicker {
  0% { opacity: 1 }
  50% { opacity: .25 }
  100% { opacity: 1 }
}

#container {
  background: url('../img/moon-bg.png') no-repeat center center / cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  .callout {
    position: absolute;
    bottom: 16vh;
    right: 10vw;
    text-align: center;
  }

  .icon-container {
    position: absolute;
    bottom: 3vh;
    right: 3vw;

    i {
      color: rgba(255,255,255,.5);
      font-size: 2rem;
      margin-left: 1rem;
      transition: $ease;

      &:hover {
        color: rgba(255,255,255,.9);
        cursor: pointer;
      }
    }
  }

  .email-container {
    background: $bg;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: -6rem;
    z-index: 1;
    text-align: center;
    height: 6.1rem;
    transition: $ease;

    .fa-close {
      position: absolute;
      right: 2rem;
      bottom: 1.75rem;
      font-size: 1.75rem;
      color: rgba(255,255,255,.25);

      &:hover {
        cursor: pointer;
      }
    }

    h2 {
      margin-top: 2.25rem;
    }
  }

  .show-email {
    bottom: 0;
  }

  hr {
    width: 80%;
    opacity: .5;
  }
}

.star-1 {
  position: absolute;
  top: 4rem;
  right: 10rem;
  animation: flicker 2s infinite;
}

.star-1 {
  position: absolute;
  top: 4rem;
  right: 10rem;
  animation: flicker 3s infinite;
}

.star-2 {
  position: absolute;
  top: 10rem;
  right: 2rem;
  animation: flicker 2s infinite;
}

.star-3 {
  position: absolute;
  bottom: 3rem;
  right: 16rem;
  animation: flicker 4s infinite;
}

.star-4 {
  position: absolute;
  top: 8remrem;
  right: 24rem;
  animation: flicker 4s infinite;
}

.star-5 {
  position: absolute;
  bottom: 4rem;
  left: 10rem;
  animation: flicker 2s infinite;
}

.star-6 {
  position: absolute;
  top: 20rem;
  right: 20rem;
  animation: flicker 3s infinite;
}

@media (max-width: 1000px) {
  html { font-size: 1.5vw; }
}

@media (max-width: 600px) {
  html { font-size: 2.5vw; }

  #container {
    .icon-container {
      right: 3rem;

      i {
        font-size: 3rem;
        margin-left: 2rem;
      }
    }
    .email-container {
      .fa-close {
        bottom: 4rem;
      }
    }
  }
}
